
<div class="matrix-container">
	<p class="title">
    	{{ name }}
  	</p>
	<div class="matrix-questions">
		<a href="#" class="btn left" (click)="advanceQuestion($event)">
			<i class="arrow circle left icon"></i>
		</a>
		
		<div class="questions-container">
			<ul class="questions">
				<li id="question-{{i}}" class="question" *ngFor="let question of items; let i = index;" [class.current]="i == currentPager">
					{{ question.text }}
				</li>
			</ul>
			<ul class="pager">
				<li *ngFor="let pager of items; let i = index;" id="pager-{{i}}">
					<i class="circle icon" aria-hidden="true" *ngIf="i == currentPager"></i>
					<i class="circle outline icon" aria-hidden="true" *ngIf="i != currentPager"></i>
				</li>
			</ul>
		</div>
		
		<a href="#" class="btn right" (click)="advanceQuestion($event)">
			<i class="arrow circle right icon"></i>
		</a>
	</div>

	<ul class="question-options">
		<li *ngFor="let option of options; let i = index;" class="option" id="option-{{i}}" (click)="toggleChildSelection($event.target, 6, 100)">
			{{ option.text }}
		</li>
	</ul>
</div>