
:host {
	position: absolute;
    height: 100%;
    width: 100%;
	left: 200%;
}

:host.active {
	left: 0;
}

:host.transitioningOut {
	transform: translateX(-150%);
	transition: transform 350ms linear;
}

:host.transitioningIn {
	transform: translateX(-200%);
	transition: transform 350ms linear;
}