


.radio-click-question { color: #eee; margin-top: 25px; }
.ui.form.radio-click-question .grouped.fields > label, .radio-click-question label { color: #eee; }

.radio-click-question ul li {
	margin: 10px auto;
    display: block;
	width: 100%;
}

.radio-click-question ul li a {
	border: 1px solid #333;
    border-radius: 5px;
	display: block;
	width: 100%;
	background: rgba(0, 0, 0, .3);
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
}

.radio-click-question ul li a:hover {
	color: #86cc18;
}

