


.checkbox-question { color: #eee; margin-top: 25px; }
.question-options { 
	width: 90%; margin: 0 auto; 
}

.question-options li {
    width: 100%;
    background: rgba(14, 14, 14, .7);
    padding: 15px;
    text-align: center;
    border: 1px solid #000;
    margin: 0 auto 5px;
    /*transition: background-color 200ms;*/
}

.question-options li:hover {
	cursor: pointer;
	background: rgba(30, 30, 30, .7);
}

.question-options li.selected {
	cursor: pointer;
	background-color: rgba(111,217,19,0.7);
}
